@import "tailwindcss";
@plugin "daisyui"{
}

@theme {
    --color-primary-site: #F17E92;
    --color-secondary-site: #e3a7af;
  }
  
  /* Variáveis para o tema Light */
  :root {
    --bg-color: #fff;
    background: var(--bg-color);
  }
  
  /* Variáveis para o tema Dark */
  html.dark {
    --bg-color: #333;
    --text-color: #fff;
  }
  
  body {
    background: var(--bg-color);
    color: var(--text-color);
  }
